button{
  padding: 10px 25px;
  border: 2px solid $datasets;
  border-radius: 5px;
  color: $white;
  background: $datasets;
  cursor: pointer;
}

button:hover{

  color: $datasets;
  background: $white;
}

button:focus{
  color: $white;
  background: $datasets;
}


button:disabled{
  color: $grey;
  background: $grey-light;
  border: 2px solid $grey;
}

.flat--button{
  padding: 10px 25px;
  border: 0px solid $datasets;
  border-radius: 0px;
  color: $font-grey;
  background: none;
  cursor: pointer;
}

.flat--button:hover{
  color: $datasets;
  background: none;
}
.flat--button:focus{
  color: $datasets;
  background: none;
}
