.CustomDependencies{
  position: relative;
}

.CustomDependencies__card{
  @extend .card;
  padding: 20px;
}

.CustomDependencies__button--flat,
.CustomDependencies__button--flat:focus{
  padding: 5px 0;
  background-color: $grey-light;
  border: none;
  color: $azure;
  width: 100%;
}

.CustomDependencies__button--flat:hover{
  background-color: $grey-light;
  border: none;
  color: $turquise;
  width: 100%;
}

.CustomDependencies__add-dependencies{
  background-color: $grey-light;
  border-radius: 8px;
  padding: 5px 20px;
  height: auto;
  margin: 20px 0;
}

input.CustomDependenciesDropdown__input[type="text"]{
  border: 1px solid $romanSilver;
  border-radius: 8px;
  padding: 0 15px;
  width: calc(100% - 30px);
  background: url(../images/icons/down-arrow-silver.svg) no-repeat 95% 50%;
  background-size: 20px;
  cursor: pointer;
}
input.CustomDependenciesDropdown__input[type="text"]:focus{
  cursor: text;
}

.CustomDependenciesDropdown__menu{

  @extend .box-shadow;
  padding: 20px;
  top: 142px;
  position: absolute;
  overflow: hidden;
  height: auto;
  max-height: 210px;
  transition: height 0.5s;

  z-index: 200;

  background: $white;
  width: calc(100% - 118px);
}

.CustomDependenciesDropdown__menu-row{
  @include flex(space-between, row);
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $romanSilver;
  align-items: center;
}


.CustomDependenciesDropdown__menu--no-height{
  position: absolute;
  height: 0px;
  padding: 0px;
}

.CustomDependenciesDropdown__button--round,
.CustomDependencies__button--round{
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
}
.CustomDependenciesDropdown__button--add,
.CustomDependencies__button--add{
  background: $azure url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}
.CustomDependenciesDropdown__button--add:hover,
.CustomDependencies__button--add:hover{
  background: $turquise url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}

.CustomDependencies__button--remove{
  background: $azure url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}
.CustomDependencies__button--remove:hover{
  background: $turquise url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}

.CustomDependencies__table-container{
  position: relative;
  padding: 20px 20px 60px;
  border: 1px solid $romanSilver;

  .CustomDependencies__button{
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 240px;
    height: 40px;
    margin: 0 0 0 -120px;
  }
}

.CustomDependencies__item{
  height: 40px;
  @include flex(space-between, row);

  border-bottom: 1px solid $romanSilver;
}

.CustomDependencies__view-container{
  padding: 20px 20px 40px;
  height: auto;
  overflow: hidden;
}

.CustomDependencies__view-container--no-height{
  height: 0px;
  max-height: 0px;
  padding: 0px;
}
