.PackageDependencies__card {
  @extend .card;
  padding: 20px;
}
.PackageDependencies__header {
  color: $romanSilver;
}

.PackageDependencies__tabs-list {
  @extend .tabs-list;
}

.PackageDependencies__tab {
  @extend .tab;
  width: calc(25% - 20px);
  background-color: $grey-light;
  color: $romanSilver;
}
.PackageDependencies__tab:hover{
  background-color: $white;
  color: $turquise;
}
.PackageDependencies__tab--selected {
  @extend .tab--selected;
  background-color: $white;
  color: $romanSilver;
}

@keyframes Gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position:  100% 100%;
	}
	100% {
		background-position: 0% 100%;
	}
}



.PackageDependencies__table-row--checking,
.PackageDependencies__table-row--valid,
.PackageDependencies__table-row--invalid, {
  @include flex(flex-start, row);
}

td.PackageDependencies__td-package {
  flex: 2;
}

td.PackageDependencies__td-version {
  flex: 1;
}

.PackageDependencies__table-row--invalid {
  color: $crimson;
}

.PackageDependencies__table--border {
  position: relative;
  padding: 20px 20px 35px;
  border: 1px solid $grey;
  margin-bottom: 45px;
}

.PackageDependencies__table--no-right-padding {
  padding-right: 0px;
}
.PackageDependencies__menu {
  transition: min-height 0.5s, height 0.5s;
  min-height: 0px;
  max-height: auto;
  overflow: hidden;
};

.PackageDependencies__menu--min-height {
  min-height: 0px;
  height: 0px;
}

.PackageDependencies__button:hover {
  background-color: $grey-light;
  color: $turquise;
  border: 0;
  font-weight: bold;

}

.PackageDependencies__button,
.PackageDependencies__button:focus {
  padding: 5px 0;
  background-color: $grey-light;
  border: 0;
  color: $azure;
  width: 100%;
}

.PackageDependencies__button--absolute {
  position: absolute;
  height: 40px;
  left: 50%;
  bottom: -20px;
  margin: 0 0 0 -117px;
}

.PackageDependencies__button--absolute.ButtonLoader--loading,
.PackageDependencies__button--absolute.ButtonLoader--finished,
.PackageDependencies__button--absolute.ButtonLoader--error{
  margin: 0 0 0 -13px;
  bottom: -13px;
}

.PackageDependencies__button--add {
  background: $azure url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}
.PackageDependencies__button--add:hover {
  background: $turquise url('../images/icons/add.svg') no-repeat 50% 50%;
  background-size: 16px;
}

.PackageDependencies__button--remove {
  background: $azure url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}
.PackageDependencies__button--remove:hover {
  background: $turquise url('../images/icons/close-white.svg') no-repeat 50% 50%;
  background-size: 14px;
}

.PackageDependencies__button--line-18:hover,
.PackageDependencies__button--line-18:focus {
  color: $turquise !important;
  background: url('../images/icons/down-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}


.PackageDependencies__button--line-18 {

    font-size: 20px;
    line-height: 18px;
    font-weight: bold;
    background: url('../images/icons/down-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
    background-size: 25px;
    height: 50px;
}

.PackageDependencies__button--open {
  background: url('../images/icons/up-arrow-azure.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}

.PackageDependencies__button--open:hover,
.PackageDependencies__button--open:focus {
  background: url('../images/icons/up-arrow-turquise.svg') no-repeat calc(50% + 90px) 50%;
  background-size: 25px;
}


.PackageDependencies__add-package {
  background-color: $grey-light;
  margin: 20px 0 10px 0;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid $romanSilver;
}

.PackageDependencies__package-menu {
  padding: 15px 0 20px 0;
  margin-bottom: 20px;
  @include flex(space-around, row);

  .PackageDependencies__input-text[type="text"] {
    flex: 2;
    margin: 0 20px 0 0;
  }

  .PackageDependencies__input-text--version[type="text"] {
    @extend .PackageDependencies__input-text;
    flex: 1 1;
  }

  button {
    margin: 0 0 0 10px;
    line-height: 18px;
  }
}

.PackageDependencies__input-text[type="text"]::placeholder {
  color: $romanSilver;
}

.PackageDependencies__button--round {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 0;
}

.PackageDependencies__input-text--version:disabled {
  opacity: 0.3;
}

@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.1;
    }

}



.PackageDependencies__optimistic-updating {
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}

.PackageDependencies__version-loading {
  width: 20px;
  height: 20px;
  border: 3px solid $grey;
  border-top: 3px solid $turquise;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  display: inline-block;
  animation: spin 2s linear infinite;
}
