.ImportCode{
  padding: 30px;
  @include modal(350px, 600px);
  @include flex(space-between, column);
}


.ImportCode__close{
  @include close();
}
.ImportCode__drop-area{
    height: calc(200px);
    width: 100%;
    border: 1px dashed $datasets;
    word-break: break-all;
    padding: 30px;
    text-align: center;
}


.ImportCode__drop-area-highlight{

  background: white;
  opacity: 1;
  color: $datasets;
  border: 2px dashed $datasets;
}

.ImportCode__upload-button{
  text-align: center;
  width: 100px;
  align-self: center;
}
