.Footer {
  position: fixed;
  z-index: 50;
  z-index: 1200;
  right: 0;
  bottom: 0;
  left: 160px;

  height: 0px;
  max-height: 240px;

  transition: height 0.5s;

  color: $white;
  background-color: $slateBlue;

  font-weight: 100;

  @include flex(space-between, column);
}

.Footer * {
  font-weight: 400;
}

.Footer--open {
  max-height: 240px;
}

.Footer--expand {
  height: auto;
}

.Footer--expand-extra {
  max-height: 240px !important;
}
.Footer__main-message {
  min-height: 40px;
  overflow: hidden;
  align-items: center;
  @include flex(flex-start, row);
}
.Footer__main-detatails {
  margin: 0 10px;
  flex: 1;
  align-items: center;
  @include flex(space-around, row);
}
.Foooter__message-body {
  flex: 1;
}
.Footer__messages-section {
  z-index: 300;

  width: 100%;

  text-align: center;
}

.Footer__upload-message {
  z-index: 400;
  text-align: center;
  width: 100%;
  position: absolute;

}

.Footer__message-list {
  max-height: 200px;
  height: auto;
  transition: height 0.5s, max-height 0.5s, opacity 1s;
  opacity: 1;
  overflow: auto;
  width: calc(100% - 40px);
}
// .Footer__message-list::-webkit-scrollbar-track
// {
//
// 	background-color: rgba(255,255,255, 0.7);
// }

.Footer__message-list::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(255,255,255,0.5);
}

.Footer__message-list::-webkit-scrollbar-thumb {
	background-color: #fff;
}

.Footer__message-list--collapsed {
  //height: 0px !important;
  max-height: 0px !important;
  opacity: 0 !important;
  overflow: hidden;
}

.Footer__expand-messages-button {
  width: 200px;
  margin: 0 15px;
  text-decoration: underline;
  cursor: pointer;
  background: url('../images/icons/down-arrow-white.svg') no-repeat 100% 50%;
  background-size: 18px;
}

.Footer__expand-messages-button--expanded {
  width: 200px;
  margin: 0 15px;
  background: url('../images/icons/up-arrow-white.svg') no-repeat 100% 50% !important;
  background-size: 18px !important;
}

.Footer--error {
  color: $white;
  background-color: $crimson;
}

.Footer__progress-bar {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;

  width: 0%;
  height: 100%;

  transition: width 1s, opacity 1s;

  color: $white !important;
  background-color: $turquise;
}

.Footer__progress-bar__error {
  background-color: $crimson;
}

.Footer__upload-error {
  background-color: $crimson;
  .Footer__progress-bar {
    @extend .hidden;
  }
}

.Footer__collapse-message-list {
    background: url('./../images/icons/close-white.svg') no-repeat center center;
    background-size: 18px;
    right: 20px;
    @include close();
}

.Footer__status {

  position: relative;
  z-index: 60;

  overflow: hidden;
  flex-wrap: nowrap;

  width: 100%;
  height: auto;
  padding: 0 40px;
  min-height: 40px;
  text-align: left;

  line-height: 25px;

  @include flex(space-between, column);

  ul {
    margin: 0px;
    text-align: left;
    @include flex(space-between, column);

    li {
      border-bottom: 1px solid white;
      margin: 0 30px 0 0;
    }
    li:last-child {
      border-bottom: 0px solid white;
    }
  }

  .Footer__message {
    vertical-align: middle;
    line-height: 40px;


  }

  .Footer__message--error {
    @extend .Footer__message;
    @extend .fa;
    @extend .fa-exclamation-circle;
    align-items: center;
    @include flex(flex-start, row);

    // i:before {
    //   align-self: flex-end;
    //   align-content: flex-end;
    //   flex-grow: 1;
    // }
  }

  .Footer__message-title {
    flex: 1 0 auto;
    margin: 0;
  }

  .Footer__message--error:before {
    margin: 0 10px;
    align-self: flex-start;
  }

  .Footer__message-dismiss {
    margin-left: 30px;

    border: 1px solid white;
    height: 20px;
    min-width: 20px;
    width: 20px;

    text-align: center;
    line-height: 18px;

    border-radius: 15px;

    cursor: pointer;
    background: url('./../images/icons/close-white.svg') no-repeat center center;
    background-size: 10px;
  }

  .Footer__message-dismiss:hover {
    color: $turquise;
  }
}

.Footer__status--error {
  background-color: $crimson;
}

.Footer__status--warning {
  background-color: $goldenLemon;
}

.Footer__upload-status {
  position: relative;

  text-align: center;
  height: 40px;

  width: 100%;
}

.Footer__button {
  position: absolute;
  z-index: 60;
  top: 5px;
  right: 10px;

  height: 30px;

  color: $white;
  border: 1px solid $white;
  border-radius: 20px;
  background-color: $azure !important;

  line-height: 10px;
}

.Footer__button:hover {
  color: $jet ;
  background-color: $white !important;
}

.Footer__message {
    flex: 1;

    color: $white;
}

.Footer__close {
  position: absolute;
  right: 10px;
  bottom: 0px;

  width: 40px;
  height: 40px;

  cursor: pointer;

  background: url('../images/icons/close-white.svg') no-repeat center center;
  background-size: 16px;
}

.Footer__close:hover {
  background: url('../images/icons/close-turquise.svg') no-repeat center center;
  background-size: 16px;
}
