.Header{
  background-color: $jet;
  top: 0px;
  z-index: 100;
  height: 80px;
}

.Header__title{
  color: $cream;
}

.Header__nav{
  width: 300px;
}

.Header__nav-item{
  width: 150px;
  height: 40px;
  line-height: 40px;
  background: white;
  border-radius: 20px;
  font-size: 20px;

}

.Header__nav-item--datasets{
  color: $azure;
  align-items: center;
  margin: 0 10px;
  padding: 0 15px 0 0;
}

.Header__nav-item--labbooks{
  color: $azure;
  align-items: center;
  padding: 0 15px 0 0;
}

.Header__datasets-icon{
  height: 35px;
  width: 35px;
  background: $azure url('../images/icons/datasets.svg') no-repeat center center;
  border-radius: 20px;
  background-size: 25px;
  margin: 0 2px;
}
.Header__labbook-icon{
  height: 35px;
  width: 35px;
  background: $azure url('../images/icons/labbooks.svg') no-repeat center center;
  border-radius: 20px;
  background-size: 25px;
  align-items: center;
  margin: 0 2px;
}

.Header__button--logout{
  position: absolute;
  top: 20px;
  right: 20px;
}
