.Loader__logo {
  z-index: 1002;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

.Loader__logo-border {
  box-sizing: content-box !important;
  z-index: 1001;
  position: absolute;
  width: 150px;
  height: 150px;
  top: calc(50% - 90px);
  left: calc(50% - 90px);
  border: 16px solid $grey;
  border-top: 16px solid $turquise;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
