.User{
  height: 200px;
  width: 100px;
  position: relative;
  @include flex(space-around, column);
}

.User__name{
  height: 100%;
  line-height: 70px;
  flex: 1;
  align-self: center;
  color: $white;
  padding-top: 60px;
  background: url('./../images/icons/user.svg') no-repeat center 40px;
  background-size: 30px;
  cursor: pointer;
}

.User__name--active{
  @extend .User__name;
}

.User__dropdown{
  width: 100px;
  padding: 5px;

}

.User__dropdown--arrow{
  position: absolute;
  top: 81px;
  right: 5px;
  @include triangle('up', 10px, $jet)
}


.User__button{
  width: 100%;
  align-self: center;
  background-color: $jet;
  border-top: 1px solid $turquise;
  border-bottom: 1px solid $turquise;
  border-left: 0px solid $turquise;
  border-right: 0px solid $turquise;
  color: $white;
  border-radius: 0px;
  padding: 5px;

}

.User__button:hover{
  color: $turquise;
  background: $jet;
}
