.User{
  height: 200px;
  width: 120px;
  position: relative;
  border-top: 5px solid $jet;
  @include flex(flex-start, column);
  padding: 20px 0
}

.User__image{
  height: 60px;
  width: 60px;
  align-self: center;
}

.User__name{
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  align-self: center;
  padding: 5px 20px 5px 0;
  color: $white;
  background: url('./../images/icons/down-arrow-white.svg') no-repeat center right;
  background-size: 16px;
  cursor: pointer;

}

.User__name--active{
  @extend .User__name;
  background: url('./../images/icons/up-arrow-white.svg') no-repeat center right;
    background-size: 16px;
}

.User__dropdown{
  width: 120px;
  padding: 5px;

}

// .User__dropdown--arrow{
//   position: absolute;
//   top: 81px;
//   right: 5px;
//   @include triangle('up', 10px, $jet)
// }


.User__button{
  width: 100%;
  align-self: center;
  background-color: $jet;
  border-top: 1px solid $turquise;
  border-bottom: 1px solid $turquise;
  border-left: 0px solid $turquise;
  border-right: 0px solid $turquise;
  color: $white;
  border-radius: 0px;
  padding: 5px;

}

.User__button:hover{
  color: $turquise;
  background: $jet;
}
