.CreateLabbook__modal{
  position: absolute;
  left: 50%;
  z-index: 100;
  width: 600px;
  height: 500px;
  margin: 0 0 0 -300px;

  border: 2px solid $orange;
  background-color: white;
  box-shadow: 10px 10px 5px #888888;

}


.CreateLabbook__modal-inner-container{
    height: calc(100% - 40px);
    padding: 20px;
}


.CreateLabbook__modal-close{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.CreateLabbook__button--margin {
  margin-left: 20px;
}
