.SelectBaseImage{
  padding: 20px;
  height: 475px;
}
.SelectBaseImage__inner-container{
  height: 380px;
}
.SelectBaseImage__images{
  padding: 10px;

  border: 1px solid $grey;
  border-radius: 5px;
  background: $white;
}
.SelectBaseImage__image--selected{
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 120px;

  border: 4px solid $activity;
  border-radius: 5px;

  img,
  p{
    align-self: center;
    height: 50px;
  }
}
.SelectBaseImage__image{

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 120px;

  cursor: pointer;

  border: 1px solid $grey-light;
  border-radius: 5px;

  img,
  p{
    align-self: center;
    height: 50px;
  }
}
.SelectBaseImage__image:hover{
  background-color: $grey;
}

.SelectBaseImage__selected-image-container{
  height: 120px;
}

.SelectBaseImage__selected-image{
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 200px;
  height: 120px;

  border: 1px dashed $grey;

  img,
  p{
    align-self: center;
    height: 50px;
  }
}
