.DatasetsLabbooks__nav{
  width: 300px;
  list-style: none;
  color: $vermillion;
  font-size: 22px;
  font-weight: 200;
}

.DatasetsLabbooks__nav-item{
  cursor: pointer;
}
.DatasetsLabbooks__nav-item.selected{
  text-decoration: underline;
}
