.LabbooksSets{
  padding: 0 20px;
  list-style: none;
  margin: 10px auto;
}

.LabbooksSets__panel{
  height: 200px;
  width: 200px;
  margin: 10px;

  cursor: pointer;
  text-align: center;

  color: $charcoal;
  background: $cream url(./../images/icons/book.svg) no-repeat center;
  background-size: 50px;
  border: 2px solid $charcoal;

  line-height: 50px;

  &:empty {
    height: 0;
    border: none;
  };
}

.LabbooksSets__panel:hover{
  align-self: flex-start;
  color: $cream;
  background: $charcoal url(./../images/icons/book.svg) no-repeat center;
  background-size: 50px;
}

.LabbooksSets__panel:last-child{
  margin-right: auto;
}
