.LabbooksSets{
  padding: 0 20px;
  list-style: none;
  margin: 10px auto;
  height: 100%;
}

.LabbooksSets__labbooks{
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
}

.LabbooksSets__panel{
  height: 300px;
  width: auto;
  max-width: 300px;
  min-width: 280px;
  flex: 1 1 280px;
  margin: 10px auto;

  cursor: pointer;
  text-align: center;

  color: $charcoal;
  background: $grey-light;
  background-size: 50px;
  border: 1px solid $labbooks;
  border-top: 10px solid $labbooks;

  line-height: 50px;

  &:empty {
    height: 0;
    border: none;
  };
}

.LabbooksSets__panel:before,
.LabbooksSets__panel:after{
  padding: 0 10px;
}

.LabbooksSets__panel:hover{
  align-self: flex-start;
  color: $cream;
  background: $charcoal;
  background-size: 50px;
}
