.Notes{
  overflow: auto;
  height: 100%;
}


.NotesCard{
  padding: 20px;
  margin: 2px 15px;
  border: 2px solid $orange;
}

.NotesCard__toggle-button{
  height: 30px;
  width: 40px;
  cursor: pointer;
  align-self: flex-end;
}

.NotesCard__expanded-view{
  border: 1px solid $orange;
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0 0 0;
  transition: height 0.5s;
  height: 220px;
  overflow: hidden;
}
.NotesCard__expanded-view.no-height{
  height: 0px;
  border: 0px;
  padding: 0px;
  // overflow: hidden;
  // visibility: hidden;
}

.NotesCard__tags-list{

  li{
    padding: 0 10px 0 0
  }
  li:before{
   content: '';
   display: inline-block;
   height: 12px;
   width: 12px;
   margin: 0 5px;
   background-image: url('../images/icons/price-tag.svg');
 }
}
//
// USER_MAJOR
// USER_MINOR
// AUTO_MAJOR
// AUTO_MINOR
// AUTO_DETAIL
