.Routes {
  height: calc(100% - 10px);
  width: 100%;
  @include flex(flex-start, row);
  max-width: 1440px;
  min-width: 960px;
}

.Header {
  position: fixed;
  width: 100%;
  height: 10px;
  background-color: $jet;
  top: 0px;
  z-index: 800;
}

.Routes__main {
  flex: 1 0;
  margin-left: $sideBarWidth;
  max-width: calc(100%);
}
.Routes__main-no-auth {
  flex: 1 0;
  max-width: calc(100%);
}

.Callback {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f0f1f5;
}