.BranchMenu {
  position: relative;
  overflow: visible;

  height: 30px;
  min-height: 30px;
  align-self: flex-end;
  @include flex(flex-end, row)
}

.BranchModal {
  position: relative;
  padding: 15px;
  @include flex(space-between, column);
  @include modal(500px, 500px);
}

.BranchModal--collaborators {
  @extend .BranchModal;
  justify-content: flex-start;
}
.BranchModal--login-prompt {
  justify-content: flex-start;
  padding: 20px;
  @include flex(space-between, column);
  @include modal(200px, 400px);

  .LoginPrompt__button-container {
    @include flex(space-around, row);
  }
}

.BranchModal__header {
  padding: 5px 0 5px 0px;
  color: $azure;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.BranchModal__header--new-branch {
  @extend .BranchModal__header;
  background: url('./../images/icons/new-branch.svg') no-repeat left 5px;
  background-size: 40px;

}

.BranchModal--close {
  @include close()
}

.BranchMenu__button,
.BranchMenu__button:focus {
  color: $romanSilver;
  width: 120px;
  border-radius: 15px;
  height: 30px;
  line-height: 26px;
  border: 3px solid $romanSilver;
  padding: 0 30px 0 15px;
  text-align: left;



  background: $white url('./../images/icons/ellipsis.svg') no-repeat calc(100% - 10px) center;
  background-size: 30px 30px;
}

.BranchMenu__button:hover {
  border-width: 3px;
  color: $romanSilver;
  background: $white url('./../images/icons/ellipsis.svg') no-repeat no-repeat calc(100% - 10px) center;
  background-size: 30px 30px;
}

.BranchMenu__menu {
  position: absolute;
  right: 0px;
  top: 42px;
  background: $white;
  border-radius: 10px;
  padding: 20px;
  z-index: 201;
  width: 230px;
  @extend .box-shadow;

  ul {
    margin-top: 0px;
  }

  hr {
    background-color: $lightGrey;
    border-color: $lightGrey;
    border-width: 1px;
  }
}

.BranchMenu__menu-arrow {
  z-index: 203;
  position: absolute;
  top: 30px;
  right: 16px;
  @include triangle('up', 14px, $white);
}
.BranchMenu__item {
  padding: 2px 0 2px 30px;
  line-height: 24px;
  cursor: pointer;
  color: $romanSilver;

  a {
    color: $romanSilver;
  }
}

.BranchMenu__item:hover {
  color: $turquise;
  .BranchMenu__item--new-branch {
    color: $turquise
  };
}
.BranchMenu__item--new-branch {
  @extend .BranchMenu__item;
  background: url('./../images/icons/new-branch.svg') no-repeat left center;
  background-size: 16px;
  opacity: .3;
}
.BranchMenu__item--merge {
  @extend .BranchMenu__item;
  background: url('./../images/icons/merge.svg') no-repeat left center;
  background-size: 16px;
  opacity: .3;
}
.BranchMenu__item--deadend {
  @extend .BranchMenu__item;
  background: url('./../images/icons/deadend.svg') no-repeat left center;
  background-size: 16px;
  opacity: .3;
}
.BranchMenu__item--favorite {
  @extend .BranchMenu__item;
  background: url('./../images/icons/favestar.svg') no-repeat left center;
  background-size: 16px;
  opacity: .3;
}

.BranchMenu__item--collaborators {
  @extend .BranchMenu__item;
  background: url('./../images/icons/user.svg') no-repeat left 7px;
  background-size: 16px;
  @extend .BranchMenu__item;

  a {
    color: $romanSilver;
    cursor: pointer;
  }

  p {
    padding: 0px;
  }
}

.BranchMenu__add-collaborators {
  width: 300px !important;
}

.BranchMenu__add-button {
  width: 100px;
  height: 30px;
  align-self: center;
  padding: 0;
}

.BranchMenu__sync,
.BranchMenu__publish {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

.BranchMenu__item--collaborators-button {
  background-size: 16px;
  width: 100%;
  cursor: pointer;
  margin: 0 0 5px 0;
  background-color: $white;
  border: 0px solid $white;
  text-align: left;
  padding: 0px;
  color: $romanSilver;
}

.BranchMenu__item--collaborators-button:hover,
.BranchMenu__item--collaborators-button:focus {
  background-size: 16px;
  color: $turquise;
  width: 100%;
  cursor: pointer;

  margin: 0 0 5px 0;
  background-color: $white;
  border: 0px solid $white;
}

.BranchMenu__item--collaborators-button:disabled,
.BranchMenu__item--collaborators-button:disabled:hover {
  background-size: 16px;
  width: 100%;
  cursor: pointer;
  margin: 0 0 5px 0;
  background-color: $white;
  border: 0px solid $white;
}

.BranchMenu__collaborators-modal {
  padding: 15px;
  @include modal(400px, 500px);
}

.BranchMenu__close-button {
  @include close();
}

.BranchMenu__collaborators-modal--hidden {
  display: hidden;
}

.BranchMenu__add {
  @include flex(space-between, row);
}

.BranchMenu__collaborator--item {
  border-bottom: 1px solid $lightGrey;
  padding: 10px 0;
  @include flex(space-between, row);
}

.BranchMenu__collaborators-list {
  height: 340px;
  overflow: auto;
}

.BranchMenu__item--collaborators-menu {
  height: auto;
  max-height: 300px;
  overflow: auto;
}

.BranchMenu__item--collaborators-menu--collapsed {
  height: 0;
  max-height: 0;
  overflow: hidden
}
