.ContainerStatus__container-state{
  width: 120px;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  color: $romanSilver;
  line-height: 26px;
  cursor: pointer;

}

.ContainerStatus__container-state{
  border: 2px solid rgba(0,0,0,0);
}

.ContainerStatus__container-state.Open{
  border: 3px solid $turquise;
  background-size: 20px;
}
.ContainerStatus__container-state.Building{
  border: 1px solid $azure;
}
.ContainerStatus__container-state.Closed{
  border: 3px solid $jet;
  background-size: 20px;
}

.ContainerStatus__container-state.Starting{
  border: 1px solid $turquise;
  opacity: 0.75;
}

.ContainerStatus__container-state.Stopping{
  border: 1px solid $jet;
  opacity: 0.75;
}

.ContainerStatus__container-state.open:hover{
  background: $turquise;
  color: $white;
}
.ContainerStatus__container-state.Closed:hover{
  background: $jet;
  color: $white;
}
.ContainerStatus__container-state.Building:hover{
  background: $azure;
  color: $white;
}

.ContainerStatus__plugins{
  position: relative;
  overflow: visible;
}

.ContainerStatus__plugins-button{
  height: 20px;
  width: 30px;
  background-color: #ddd;
  border-radius: 10px 0 0 10px;
  position: absolute;
  top: 5px;
  left: -25px;
}

.ContainerStatus__plugins-menu{
  position: absolute;
  top: 40px;
  right: 0px;
  width: 200px;
  background: $white;
  color: $romanSilver;
  height: auto;
  border-radius: 8px;
  @extend .box-shadow;
  z-index: 200;
}
