.Labbook {
  margin-bottom: 100px;
  min-height: calc(100% - 230px);
  height: auto;
  width: 100%;
  transition: width 0.25s;
}
.Labbok__name {
  margin: 2px 0;
  padding: 0 0 10px 0;
  cursor: pointer;
  font-weight: 100;
  font-size: 3.54em;
  word-break: break-all;
  line-height: 1em;
}
.Labbook__branch-title{
  h2 {
      margin: 2px 0;
      padding: 0 0 10px 0;
      cursor: pointer;
      font-weight: 100;
  }

  h2:hover {
    color: $turquise;
  }

  @include flex(flex-start, row)
}

.Labbook__branch-toggle {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border: 2px solid $romanSilver;
  border-radius: 12px;
  margin: 0 15px;
  cursor: pointer;
  align-self: center;
}

.Labbook__branches-shadow {
  position: absolute;
  width: 100%;
  height: 5px;
}

.Labbook__branches-shadow--upper {
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 6px 2px;
}

.Labbook__branches-shadow--lower {
  bottom: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -5px 6px 2px;
}

.Labbook__branch-title--open {
  .Labbook__branch-toggle {
    background: $white url('./../images/icons/up-arrow-silver.svg') no-repeat center center;
    background-size: 16px;
  }
}

.Labbook__branch-title--closed {
  .Labbook__branch-toggle {
    background: $white url('./../images/icons/down-arrow-silver.svg') no-repeat center center;
    background-size: 16px;
  }

}

.Labbook__header-conatiner {
  min-height: 30px;

  @include flex(space-between, row);
}

.Labbook__name-title {
  flex: 1;
  margin: 0;
}

.Labbook--detail-mode {
  width: calc(100% - 350px);

  .Labbook__navigation div {
    transition: padding 0.25s;
    padding: 5px 10px;
    white-space: nowrap;
  }
}


.Labbook__header {
  flex: 1 0 auto;
  min-height: 80px;
  height: auto;
  .Labbook__name-title {
    padding: 0px;
    color: $romanSilver;
    font-size: 16px;
  }
}

.Labbook__title {
  text-align: left;
  padding: 20px 0 0 40px;
}

.Labbook__inner-container {
  max-width: calc(100% - 80px);
  margin: 20px 40px;
  padding: 0 40px;
  min-height: 100%;
  height: auto;
  //background: $grey-light;
}
.Labbook__branches-container {
  max-width: calc(100% + 160px);
  padding: 20px 0;
  margin: 0px -80px;
  height: 310px;
  position: relative;
  transition: height 0.6s;
}

.Labbook__branches-container--collapsed {
  height: 0px;
  transition: height 0.6s;
  padding: 0px;
}
.Labbook__navigation {
  border-bottom: 1px solid $grey;
  position: relative;
  box-shadow: none;
  height: 34px;
  background-color: inherit;
  line-height: normal;
  white-space: nowrap;

  div {
    padding: 5px 5px;
    margin: 0 25px;
    cursor: pointer;
    bottom: -2px;

    a {
      color: $romanSilver;
      font-size: 16px;
    }
  }

  .Labbook__navigation-item--overview {
    padding: 5px 5px;
  }

  div:hover a {
    color: $turquise;
  }

  div.selected {
    border-bottom: 3px solid $turquise;
    z-index: 100;
    position: relative;
    bottom: -2px;
    line-height: 15px;

  }
}

.Labbook__view {
  height: calc(100% - 0px);
  overflow: hidden;
  padding: 20px 0;

}

.Labbook__container-state {
  width: 120px;
  text-align: center;
  height: 30px;
  border-radius: 15px;
  color: $white;
  line-height: 30px;

}

.Labbook__user-note {
  color: $azure;
  position: relative;
  font-size: 14px;
  cursor: pointer;

  h5 {
    padding: 0px;
  }
}

.Labbook__user-note--add {
  background: $azure url('../images/icons/add.svg') no-repeat center center;
  background-size: 10px;
  height: 16px;
  width: 16px;
  border-radius: 15px;
  position: absolute;
  top: -6px;
  left: 100px;
  transition: all 0.3s;

}
.Labbook__user-note:hover {
  .Labbook__user-note--add {
    height: 20px;
    width: 20px;
    top: -8px;
    left: 98px;
    background-size: 14px;
  }
}


.Labbook__container-state.Open {
  background: $turquise;
}
.Labbook__container-state.Building {
  background: $azure;
}
.Labbook__container-state.Closed {
  background: $jet;
}

.Labbook__component-container {
  width: calc(100% - 0px);
}

.Labbook__info {
  width: 250px;

}

.Labbook__info-card {
  width: 200px;
  height: 300px;
  border: 1px solid $romanSilver;
  color: $romanSilver;
  margin: 20px auto;
  padding: 20px;
}

.Labbook__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 1000px;
  height: 600px;

  margin: -300px 0 0 -400px;

  border: 1px solid $grey;
  background-color: $grey-light;
  box-shadow: 10px 10px 5px #888888;

}
