.Notes{
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  height: calc(100% - 13px);
}

.NotesCard{
  margin: 15px 15px;
  padding: 0 10px;

  color: $charcoal;
}


.NotesCard:before, .Notes__date-tab:before{
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 25px;
  border: 4px solid $font-grey;
  border-width: 0 0 0 4px;
  width: 1px;
  height: 15px;
}


.Notes__date-tab:before{
  top: 76px;
  left: 35px;
}

.NotesCard:nth-last-child(1):before{
  display: none !important;
}

.NotesCard__title{

  h6{
    padding: 5px;
  }
}

.NotesCard__row{

  p{
    padding: 5px 15px;
    border-left: 1px solid $font-grey;
    flex: 1 1 auto;
    word-wrap: break-word;
    word-break: break-all;
  }

  p:nth-child(1){
    border-left: 0px solid white;
    padding: 5px 15px 5px 0;
  }
}

.Notes__sizer{
  width: 100%;
}

.NotesCard__markdown-container{
  overflow: auto;

  height: auto;
  //max-height: 300px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px dashed $font-grey;
  border-left: 1px dashed $font-grey;
  border-right: 1px dashed $font-grey;
}

.NotesCard__toggle-button{
  align-self: flex-end;

  width: 120px;

  cursor: pointer;

  background: none;
  width: 200px;
  border: none;
  color: $font-grey;
}

.NotesCard__toggle-button:focus{
  background: none;
  border: none;
  color: $font-grey;
}
 .NotesCard__toggle-icon{
   width: 20px;
   height: 20px;
 }
.NotesCard__toggle-button.open .NotesCard__toggle-icon{
  transform: rotate(90deg);

  background: url('./../images/icons/down-arrow.svg') no-repeat 90% center;
  background-size: 10px;
}

.NotesCard__toggle-button.closed .NotesCard__toggle-icon{
  background: url('./../images/icons/down-arrow.svg') no-repeat 90% center;
  background-size: 10px;
}

.NotesCard__expanded-view{
  overflow: hidden;
  border-top: 2px solid $activity;
  min-height: 0px;
  //max-height: 540px;

  transition: height 0.5s;
}
.NotesCard__expanded-view.no-height{
  height: 0px;
  padding: 0px;

  border: 0px;
  // overflow: hidden;
  // visibility: hidden;
}
.NotesCard__time{
  max-width: 120px;
}

.NotesCard__commit-message{
  align-self: center;
  flex: 1 0 auto;
  font-size: 16px;
  margin: 0 15px;
}

.NotesCard__tags-list{

  li{
    padding: 0 10px 0 0
  }
  li:before{
   display: inline-block;

   width: 12px;
   height: 12px;
   margin: 0 5px;

   content: '';

   background-image: url('../images/icons/price-tag.svg');
 }
}

.Notes__next-button-container{
  text-align: center;
}

.Notes__date-tab{
    position: relative;

    width: 80px;
    height: 80px;

    border: 4px solid $activity;
    border-radius: 40px;
    background: $grey-light;

    font-weight: lighter;
}

.Notes__date-month{
  align-self: center;

  height: 30px;

  color: $font-grey;

  font-size: 20px;
}

.Notes__date-day{
  align-self: center;

  height: 26px;

  color: $font-grey;

  font-size: 26px;
}
