.Notes{
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  height: calc(100% - 13px);
}

.NotesCard{
  margin: 15px 15px;
  padding: 0 10px;

  color: $charcoal;
}

.NotesCard__markdown-container{
  overflow: auto;

  height: auto;
  max-height: 300px;
  padding: 20px;

  border: 1px solid $charcoal;
}

.NotesCard__toggle-button{
  align-self: flex-end;

  width: 120px;
  height: 30px;

  cursor: pointer;

  color: $font-grey;
}
 .NotesCard__toggle-icon{
   width: 20px;
   height: 20px;
 }
.NotesCard__toggle-button.open .NotesCard__toggle-icon{
  transform: rotate(90deg);

  background: url('./../images/icons/down-arrow.svg') no-repeat 90% center;
  background-size: 10px;
}

.NotesCard__toggle-button.closed .NotesCard__toggle-icon{
  background: url('./../images/icons/down-arrow.svg') no-repeat 90% center;
  background-size: 10px;
}

.NotesCard__expanded-view{
  overflow: hidden;

  min-height: 0px;
  max-height: 540px;
  margin: 5px 0 0 0;
  padding: 10px;

  transition: height 0.5s;

  border-radius: 3px;
}
.NotesCard__expanded-view.no-height{
  height: 0px;
  padding: 0px;

  border: 0px;
  // overflow: hidden;
  // visibility: hidden;
}
.NotesCard__time{
  max-width: 120px;
}

.NotesCard__commit-message{
  align-self: center;
  flex: 1 0 auto;

  margin: 0 15px;
}

.NotesCard__tags-list{

  li{
    padding: 0 10px 0 0
  }
  li:before{
   display: inline-block;

   width: 12px;
   height: 12px;
   margin: 0 5px;

   content: '';

   background-image: url('../images/icons/price-tag.svg');
 }
}

.Notes__next-button-container{
  text-align: center;
}

.Notes__date-tab{
    width: 80px;
    height: 80px;

    border: 4px solid $activity;
    border-radius: 40px;
    background: $grey-light;

    font-weight: lighter;
}

.Notes__date-month{
  align-self: center;

  height: 30px;

  color: $font-grey;

  font-size: 20px;
}

.Notes__date-day{
  align-self: center;

  height: 26px;

  color: $font-grey;

  font-size: 26px;
}
