.DetailsRecords__list {
  margin: 0;
}

.DetailsRecords__item {
  border-bottom: 1px solid $lightGrey;
  padding: 15px 15px 15px 66px;

  img {
    width: fit-content;
  }

  @include flex(flex-start, column);
}

@keyframes fluxuateLoad {
    0% {
      opacity: 0.1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 0.1;
    }
}


.DetailsRecords__loader {
  width: 100%;
}

.DetailsRecords__loader {
  margin: 10px 10px 10px 66px;
  width: calc(100% - 66px);
  height: 2px;
  background-color: $jet;
  opacity: 0.1;
  animation: fluxuateLoad 3s infinite;
}

li.DetailsRecords__item * {
  max-width: 100%;
}