.LocalLabbooks{
  list-style: none;
  height: 100%;
}

.LocalLabbooks__title-bar{
  margin: 0 80px 0 0px;
}

.LocalLabbooks__title{
  position: relative;
  color: $labbooks;
  text-decoration: underline;
  padding: 20px 40px 0;
  cursor: pointer;
  width: 280px;
}

.LocalLabbooks__title-add{
  background: $labbooks url('../images/icons/add.svg') no-repeat center center;
  background-size: 10px;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  position: absolute;
  top: 14px;
  left: 210px;
  transition: all 0.3s;

}

.LocalLabbooks__import{
  position: relative;
  color: $labbooks;
  padding: 20px 40px 0;
  width: 120px;
  cursor: pointer;
}

.LocalLabbooks__import-icon{
  background: $labbooks url('../images/icons/crane.svg') no-repeat center center;
  background-size: 20px;
  height: 20px;
  width: 20px;
  border-radius: 12px;
  position: absolute;
  top: 14px;
  left: 100px;
  transition: all 0.3s;
}

.LocalLabbooks__title:hover{
  .LocalLabbooks__title-add{
    height: 24px;
    width: 24px;
    background-size: 14px;
    top: 12px;
    left: 208px;
  }
}

.LocalLabbooks__labbooks{
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;

}

.LocalLabbooks__panel{
  position: relative;

  padding: 0 1px 1px 1px;
  height: 350px;
  width: auto;
  max-width: 380px;
  min-width: 300px;
  flex: 1 1 280px;
  margin: 20px 20px;
  word-break: break-all;

  cursor: pointer;
  text-align: center;

  color: $charcoal;
  background: $grey-light;
  background-size: 50px;
  border: 1px solid $labbooks;
  border-top: 10px solid $labbooks;

  line-height: 50px;

  &:empty {
    height: 0;
    border: none;
  };
}

.LocalLabbooks__panel-title:hover,
.LocalLabbooks__description:hover{
  color: $labbooks;
}

.LocalLabbooks__panel--add{
  height: 350px !important;
  border: 1px solid $charcoal !important;
  .LocalLabbooks__labbook-icon{
    align-self: center;
    position: relative;
    .LocalLabbooks__title-add{
      top: -10px;
      left: 44px;
      height: 30px;
      width: 30px;
      border-radius: 15px;
      border: 2px solid $grey-light;
    }

  }
}

.LocalLabbooks__panel--import{
  padding: 0px;
}

.LocalLabbooks__panel:before,
.LocalLabbooks__panel:after{
  padding: 0 10px;
}

// .LocalLabbooks__panel:hover{
//   align-self: flex-start;
//   //color: $cream;
//   //border-width: 10px 2px 2px 2px;
//   padding: 0;
//   border: 2px solid $charcoal;
//   border-top: 10px solid $charcoal;
//   //background: $charcoal;
//   //background-size: 50px;
// }

.LocalLabbooks__description{
  line-height: 20px;
  text-overflow: ellipsis;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  word-break: initial;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.LocalLabbooks__icon-row{
  padding: 20px;
  height: 68px;
  @include flex(space-between, row);
}

.LocalLabbooks__labbook-icon{
  height: 60px;
  width: 60px;
  background: $labbooks url('../images/icons/labbooks.svg') no-repeat center center;
  border-radius: 36px;
  background-size: 40px;
  transition: 0.25s all;
  opacity: 0.85;
}
.LocalLabbooks__labbook-icon:hover{
  height: 64px;
  width: 64px;
  opacity: 1;
  margin: -2px 0px 0px -2px;
}

.LocalLabbooks__export,
.LocalLabbooks__export--downloading{
  height: auto;
  width: 100px;
  padding: 0 40px 0 0;

  padding: 5px;
  font-size: 16px;
}
.LocalLabbooks__export{
  background: url('../images/icons/download.svg') no-repeat center right;
  background-size: 15px !important;
}

.LocalLabbooks__export--downloading{
  background: url('../images/icons/rings.svg') no-repeat center right;
  background-size: 20px !important;
}

.LocalLabbooks__export:hover{
  color: $datasets;
}

.LocalLabbooks__text-row{
  text-align: left;
  padding: 20px;
  height: 100px;
  h4{
    font-size: 22px;
    padding: 0px;
  }
  p{
    font-size: 14px;
    color: $font-grey;
  }
}

.LocalLabbooks__info-row{
  height: 100px;
  padding: 20px;
  color: $font-grey;
  font-size: 12px;
}
.LocalLabbooks__owner{
  height: 20px;
  line-height: 22px;
}
.LocalLabbooks__owner-icon{
  background: url('../images/icons/user.svg') no-repeat center center;
  background-size: 20px;
  margin: 0 4px;
  height: 20px;
  width: 20px;
}

.LocalLabbooks__next-button-container{
  text-align: center;
}


.LocalLabbooks__containerStatus{
  width: 80px;
  color: white;
}

.LocalLabbooks__containerStatus--state{
  border-radius: 12px;
  padding: 2px 5px;
  height: 24px;
  line-height: 24px;
}

.LocalLabbooks__containerStatus--state.Closed{
  background: $labbooks;
}

.LocalLabbooks__containerStatus--state.Open{
  background: $activity;
}

.LocalLabbooks__containerStatus--state.Building{
  background: $datasets;
}

.LocalLabbooks__path{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
