.LocalLabbooks{
  list-style: none;
  height: 100%;
}

.LocalLabbooks__title{
  color: $labbooks;
  text-decoration: underline;
  padding: 0 40px;
  cursor: pointer;
}

.LocalLabbooks__labbooks{
  height: calc(100% - 90px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 20px;

}

.LocalLabbooks__panel{
  height: 300px;
  width: auto;
  max-width: 300px;
  min-width: 300px;
  flex: 1 1 280px;
  margin: 20px 20px;
  word-break: break-all;

  cursor: pointer;
  text-align: center;

  color: $charcoal;
  background: $grey-light;
  background-size: 50px;
  border: 1px solid $labbooks;
  border-top: 10px solid $labbooks;

  line-height: 50px;

  &:empty {
    height: 0;
    border: none;
  };
}

.LocalLabbooks__panel:before,
.LocalLabbooks__panel:after{
  padding: 0 10px;
}

.LocalLabbooks__panel:hover{
  align-self: flex-start;
  color: $cream;
  background: $charcoal;
  background-size: 50px;
}
