/************************************
  12 column grid
  grid max width 1235px
  column 80px
  gutters 25px
*************************************/

@mixin grid() {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  max-width: 1235px;
  min-width: 815px;

}
/************************************
  column is the number of columns items to be displayed
  span is how many standard columns the column should span across 
*************************************/
@mixin column($columns) {
  $span: 12/$columns;

  width: ($span * 80px) + (($span - 1) * 25px);
  margin: 12.5px 12.5px;

  &:nth-child(#{$columns}n + 1){
    margin: 12.5px 12.5px 12.5px 0;
  }

  &:nth-child(#{$columns}n + #{$columns}){
    margin: 12.5px 0 12.5px 12.5px;
  }
}
