/*******************
*
*  color palette
*
*********************/
/*********************
*
* primary colors
*
**********************/
$turquise: #1ad8c1;
$slateBlue: #334156;
$jet: #1f2733;
/*********************
*
* seconday colors
*
**********************/
$purple: #65329b;
$crimson: #ef2231;
$flame: #ff7300;
$goldenLemon: #fcd430;
$kellyGreen: #acf932;
$azure: #007ea8;
$romanSilver: #9b9c9e;
$lightGrey: #e3e4e5;





/*********************
*
* temporary colors
*
**********************/
$labbooks: #a63945;
$datasets: #5b7b8e;
$activity: #a8cf48;

$grey-light: rgb(244,244,244);
$grey: rgb(213,213,213);
$grey-background: rgb(227,225,226);
$font-grey: #9c9b9b;

$background-color: rgb(240, 241, 245);

$charcoal: #3B3738;
$charcoals: #6B3738;


$fresh: #4abdac;
$vermillion: #fc4a1a;
$sunchine: #f78733;
$clean: #dfdce3;

$white: #fefefe;
$cream: #FDF3E7;


$notes: #29339b;
$lightblue: #74a4bc;
$teal: #b6d6cc;
$yellow: #f1fec6;
$red: #ff3a20;
$orange: #C63D0F;
