$labbooks: #a63945;
$datasets: #5b7b8e;
$activity: rgb(168, 207, 72);

$grey-light: rgb(244,244,244);
$grey: rgb(213,213,213);
$font-grey: #9c9b9b;


$charcoal: #3B3738;

$fresh: #4abdac;
$vermillion: #fc4a1a;
$sunchine: #f78733;
$clean: #dfdce3;

$white: #fefefe;
$cream: #FDF3E7;


$notes: #29339b;
$lightblue: #74a4bc;
$teal: #b6d6cc;
$yellow: #f1fec6;
$red: #ff3a20;
$orange: #C63D0F;
