$charcoal: #333322;

$fresh: #4abdac;
$vermillion: #fc4a1a;
$sunchine: #f78733;
$clean: #dfdce3;

$white: #fefefe;


$notes: #29339b;
$lightblue: #74a4bc;
$teal: #b6d6cc;
$yellow: #f1fec6;
$red: #ff3a20;
