//vendor
@import 'bourbon';
@import 'neat';
//@import "neat";
@import '../../node_modules/normalize-sass/normalize';
@import  'vendor/materialize.scss';
@import  'vendor/sweetAlert.scss';

@import 'vendor/fileBrowser/browser.scss';
@import 'vendor/fileBrowser/list-style.scss';
@import 'vendor/fileBrowser/table-style.scss';
@import 'vendor/fileIcons/fileIcons.scss';

//generic
@import '_variables';
@import '_mixins';
@import '_utilities';
@import '_layout';
@import '_fonts';
//atoms
@import 'atoms/button.scss';
@import 'atoms/loader.scss';
@import 'atoms/download.scss';
@import 'atoms/_input-text.scss';

//shared components
@import 'components/shared/sideBar';
@import 'components/shared/footer';
@import 'components/shared/loader';
@import 'components/shared/user';
//
@import  'components/breadCrumbs.scss';
@import  'components/routes.scss';
@import  'components/login.scss';
@import  'components/home.scss';
//dashboard components
@import  'components/dashboard/dashboard';
@import  'components/dashboard/localLabBooks.scss';
//import
@import  'components/import/importModules.scss';
//labbook components
@import  'components/labbook/labbook.scss';
@import  'components/labbook/notes.scss';
@import  'components/labbook/environment.scss';
@import  'components/labbook/overview.scss';
@import  'components/labbook/userNote.scss';
@import  'components/labbook/code.scss';
@import  'components/labbook/containerStatus.scss';
@import 'components/labbook/notes_markdown.scss';
@import 'components/labbook/detailPanel.scss';
@import 'components/labbook/favorite.scss';
@import 'components/labbook/branches.scss';
@import 'components/labbook/branchMenu.scss';
//wizard components
@import  'components/wizard/wizardModal';
@import  'components/wizard/selectBaseImage';
@import  'components/wizard/createLabbook';
@import  'components/wizard/addEnvironmentPackages';
@import  'components/wizard/addCustomDependencies';
@import  'components/wizard/successMessage';
@import  'components/wizard/selectDevelopmentEnvironment';
@import  'components/wizard/importCode';
@import  'components/wizard/addDatasets';

html, body, .root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $charcoal;
  font-family: arial;
  position: relative;
}

body{
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 20px 0;
  margin: 0;
}

h6{
  font-size: 1.2rem;
}

.modal__cover{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: $charcoal;
  opacity: 0.5;
  z-index: 70;
}

.ApiDown{
  position: fixed;
  z-index: 200;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 300px;
}



.rendered-react-keyed-file-browser{
  width: 100%;
}

.btn{
  background-color: $datasets;
  border-radius: 20px;
  font-weight: 100;
}
.btn:hover{
  background-color: #8ea4b2;
}

// .Routes{
//   filter: invert(1);
// }
