
//@import "neat";
@import '../../node_modules/normalize-sass/normalize';
@import  'vendor/materialize.scss';

@import 'vendor/fileBrowser/browser.scss';
@import 'vendor/fileBrowser/list-style.scss';
@import 'vendor/fileBrowser/table-style.scss';
@import 'vendor/fileIcons/fileIcons.scss';
@import 'vendor/font-awesome/fontawesome.scss';
@import 'vendor/carousel.scss';
@import 'vendor/react-sticky-header.scss';

//generic
@import '_variables';
@import '_mixins';
@import '_utilities';
@import '_layout';
@import '_fonts';
@import '_base';
@import '_grid';
//atoms
@import 'atoms/button.scss';
@import 'atoms/loader.scss';
@import 'atoms/download.scss';
@import 'atoms/_input-text.scss';
@import 'atoms/textarea.scss';
@import 'atoms/table.scss';

//shared components
@import 'components/shared/sideBar';
@import 'components/shared/footer';
@import 'components/shared/prompt';
@import 'components/shared/loader';
@import 'components/shared/buttonLoader';
@import 'components/shared/user';
//
@import 'components/routes.scss';
@import 'components/login.scss';
@import 'components/home.scss';
//dashboard components
@import 'components/dashboard/dashboard';
@import 'components/dashboard/localLabBooks.scss';
@import 'components/dashboard/remoteLabBooks.scss';
@import 'components/dashboard/labBooks.scss';
//import
@import 'components/import/importModules.scss';
//labbook components
@import 'components/labbook/labbook.scss';
@import 'components/labbook/activity.scss';
@import 'components/labbook/detail.scss';
@import 'components/labbook/userNote.scss';
@import 'components/labbook/code.scss';
@import 'components/labbook/containerStatus.scss';
@import 'components/labbook/activity_markdown.scss';
@import 'components/labbook/detailPanel.scss';
@import 'components/labbook/favorite.scss';
@import 'components/labbook/recent.scss';
@import 'components/labbook/branches/branches.scss';
@import 'components/labbook/branches/branchCard.scss';
@import 'components/labbook/branches/createBranch.scss';
@import 'components/labbook/branches/forceMerge.scss';
@import 'components/labbook/branches/collaborators.scss';
@import 'components/labbook/createBranch.scss';
@import 'components/labbook/branchMenu.scss';
@import 'components/labbook/codeBlock.scss';
//environment
@import 'components/labbook/environment/environment.scss';
@import 'components/labbook/environment/packageDependencies.scss';
@import 'components/labbook/environment/base.scss';
@import 'components/labbook/environment/customDependencies.scss';
@import 'components/labbook/environment/customDockerfile.scss';
//overview
@import 'components/labbook/overview/overview.scss';
@import 'components/labbook/overview/filePreview.scss';
@import 'components/labbook/overview/fileEmpty.scss';
@import 'components/labbook/overview/recentActivity.scss';
//wizard components
@import 'components/wizard/wizardModal';
@import 'components/wizard/selectBase';
@import 'components/wizard/createLabbook';
@import 'components/wizard/baseDetails';
@import 'components/wizard/trackingToggle';

.modal__cover{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: $white;
  opacity: 0.5;
  z-index: 900;
}

.rendered-react-keyed-file-browser{
  width: 100%;
}

.btn{
  background-color: $slateBlue;
  border-radius: 20px;
  font-weight: 100;
}
.btn:hover{
  background-color: #8ea4b2;
}

code {
  color: $slateBlue !important;
  background: $background-color !important;
}
